html, body{
    margin: 0;
    padding: 10;
    font-size: 10pt; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #dfe6f6;
    background-color: #18273f;
    overflow-y: hidden;
}

.chartPages {
    width: 100%;
    height: 100%;
    background-color: #18273f;
}

.chart {
    display: block;
    margin: 0 auto;
    background-color: #18273f;
    width: 80%;
    height: 100%;
}