/* Styling for sidebar and content pages. */

html, body{
    margin: 0;
    padding: 10;
    font-size: 10pt; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #dfe6f6;
    background-color: #003862;
    overflow-y: hidden;
}

.mainApp{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.mainApp > .contentArea {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #004377;
    overflow-y: hidden;
}

.sidebar{
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #00223B;
    transition: 0.4s;
}

.chartBtn{
    position: fixed;
    bottom: 10px;
    width: 95px;
    /* Trouble centering */
    margin-left: 45px;
    color:#dfe6f6;
    border: none;
    background-color: #00223B;
}

.chartBtn:hover{
    text-decoration: underline;
}

.sidebar > .sidebarBtn{
    position: absolute; 
    font-size: 20px; 
    margin-top: 4px;
    margin-left: 2px;
    color:#dfe6f6;
    background-color: #00223B;
    border: none;
} 

.sidebar > .sidebarBtn:hover{
    color: #8d929d;
} 

.fileButton {
    padding: 6px;
    padding-left: 12px;
    border: 0px solid #1c293f; 
}

.fileButton:hover {
    background-color: #2c456e;
}


/* CONTENT PAGES */

.contentArea > .contentPages{
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px;
    background-color: #003862;
    width: 80%; 
    height: 100%;
    overflow: auto;
    /* white-space: pre-wrap; */
    /* -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box; */
}

[contenteditable="true"]:focus {
    outline: 0px solid transparent;
    white-space: pre;
}


